<div class="sidebar">
  <h5 class="bold">The Dining Room</h5>
  <ul class="sidebar-nav">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li class="bold">Restaurants</li>
    <li><a [routerLink]="['/restaurants/all']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> All</a></li>
    <li><a [routerLink]="['/restaurants/german']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> German</a></li>
    <li><a [routerLink]="['/restaurants/chinese']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> Chinese</a></li>
    <li><a [routerLink]="['/restaurants/american']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> American</a></li>
    <li><a [routerLink]="['/restaurants/indian']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> Indian</a></li>
    <li><a [routerLink]="['/restaurants/pizza']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> Pizza</a></li>
    <li><a [routerLink]="['/restaurants/vegetarian']" routerLinkActive="active"><i class="fa fa-arrow-right"></i> Vegeterian</a></li>
    <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
  </ul>
</div>
