h5{
  cursor: pointer;
}

.item{
  width: 100%;
  height: 100%;
  padding: .5em;
  background-color: #f1f1f1;
  position: relative;
}

.price{
  position: absolute;
  bottom: 0;
}

.rating{
  position: absolute;
  bottom: 1.6em;
}
