<div class="item">
  <h5 class="text-primary" (click)='openModal(restaurant)'>{{restaurant.name}}</h5>
  <p>{{restaurant.description}}</p>
  <p class="rating">Rating: <dr-rating-price [iconFull]="'assets/images/coin-full.png'" [iconEmpty]="'assets/images/coin-empty.png'"
      [value]='restaurant.price'></dr-rating-price>
  </p>
  <p class="price">Price: <dr-rating-price [iconFull]="'assets/images/star-full.png'" [iconEmpty]="'assets/images/star-empty.png'"
      [value]='restaurant.rating'></dr-rating-price>
  </p>
</div>
